body {
  width: 100%;
  height: 100vh;
  margin: 0px;
  display: flex;
  justify-content: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
  display: grid;
  height: max-content;
}

#createAccount {
  display: grid;
  gap: 5px;
}

#createAccount button {
  margin-top: 20px;
}

.emailError,
.countryError,
.zipError,
.passwordError,
.confirmPasswordError,
.error {
  color: red;
}

/* Style for when input is invalid */
.invalid {
  border: 1px solid red;
  box-shadow: 0 0 5px red;
}
